@font-face {
    font-family: 'Outfit Regular';
    src: url('../font/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit SemiBold';
    src: url('../font/Outfit-SemiBold.ttf') format('truetype');
}
